{
  "administrator" : "{{ cvmfs_administrator }}",
  "email"         : "{{ cvmfs_support_email }}",
  "organisation"  : "{{ cvmfs_managing_org }}",

  "custom" : {
    "_comment" : "Put arbitrary structured data here"
  }
}